<div class="navbar">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon"><use xlink:href="#icon_back-arrow"></use></svg>
    </div>
    <h1 class="header__h"></h1>
</div>
<div class="content">
    <div class="page-content">
        <div class="sub-header sub-header_control region">
            <div class="sub-header__h region-name">Ханты-Мансийск</div>
            <span class="sub-header__control">
                изменить
                <svg class="sub-header__control-icon">
                    <use xlink:href="#icon_right-arrow"></use>
                </svg>
            </span>
        </div>

        <div class="tabs">
            <ul class="tabs__lst">
                <li class="tabs__i tabs__i_active">
                    <a href="javascript:void(0)" class="tabs__a tabs__link-list">Список</a>
                </li>
                <li class="tabs__i">
                    <a href="javascript:void(0)" class="tabs__a tabs__link-map">Карта</a>
                </li>
            </ul>
        </div>

        <!--<div class="teasers">
            <ul class="teasers__lst">
                <li class="teasers__i">
                    <a href="" class="teasers__a">
                        <div class="teasers__value">Региональное управление,</div>
                        <div class="teasers__label">Ханты-Мансийск, ул. Строительная, 23/</div>
                        <svg class="teasers__icon">
                            <use xlink:href="#icon_right-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="teasers__i">
                    <a href="" class="teasers__a">
                        <div class="teasers__value">Пункт выдачи и замены полисов,</div>
                        <div class="teasers__label">Ханты-Мансийск, ул. Уютная, 15</div>
                        <svg class="teasers__icon">
                            <use xlink:href="#icon_right-arrow"></use>
                        </svg>
                    </a>
                </li>
                <li class="teasers__i">
                    <a href="" class="teasers__a">
                        <div class="teasers__value">Пункт замены полисов,</div>
                        <div class="teasers__label">Ханты-Мансийск, ул. Пушкина, 18-a, строение 4.</div>
                        <svg class="teasers__icon">
                            <use xlink:href="#icon_right-arrow"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <div class="map"></div>-->
    </div>
</div>
<div class="toolbar"></div>