<div class="navbar">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon"><use xlink:href="#icon_back-arrow"></use></svg>
    </div>
    <h1 class="header__h"></h1>
</div>
<div class="content">
    <div class="page-content">
        <div class="sub-header sub-header_control region">
            <div class="sub-header__h region-name">Выберите город</div>
            <span class="sub-header__control">
                изменить
                <svg class="sub-header__control-icon">
                    <use xlink:href="#icon_right-arrow"></use>
                </svg>
            </span>
        </div>

        <div class="teasers list"></div>
    </div>
</div>
<div class="toolbar"></div>