<?xml version="1.0" encoding="utf-8"?>
<!--
id="com.ugraweb.u_med"
это айдишник для Android'a так историчски сложилось

id="ru.ugraweb.umed"
это для айфона, он основной
-->
<widget xmlns="http://www.w3.org/ns/widgets" id="ru.ugraweb.umed" versionCode="100070" version="1.0.7">
    <name>Югория-Мед</name>
    <description>ОАО СМК Югория-Мед</description>
    <author email="ugraweb@gmail.com" href="http://ugraweb.ru">Ugraweb Team</author>
    <content src="index.html" />

    <!--
    Before using white list plugin, need install it:
    phonegap plugin add cordova-plugin-whitelist
    -->
    <plugin name="cordova-plugin-dialogs" spec="1.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="1.1.1" />
    <plugin name="cordova-plugin-statusbar" spec="2.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="1.2.0" />

    <!--
    If you do not want any permissions to be added to your app, add the
    following tag to your config.xml; you will still have the INTERNET
    permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none" />
    <preference name="orientation" value="portrait" />              <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen" value="false" />                  <!-- all: hides the status bar at the top of the screen -->
    <preference name="android-minSdkVersion" value="14" />          <!-- android: minimum Android SDK version ~ Android 4.0, 4.0.1, 4.0.2 ICE_CREAM_SANDWICH -->
    <preference name="android-installLocation" value="auto" />      <!-- android: where an app can be installed - defaults to internalOnly. auto or preferExternal allow the app to be installed on an SD card -->
    <preference name="target-device" value="universal" />           <!-- ios: possible values are handset, tablet, or universal -->
    <preference name="prerendered-icon" value="true" />             <!-- ios: this will cause iOS to not apply its gloss to the app's icon on the user's home screen -->
    <preference name="detect-data-types" value="true" />            <!-- ios: controls whether certain data types (such as phone numbers and dates) are automatically turned into links by the system  -->
    <preference name="exit-on-suspend" value="true" />              <!-- ios: if set to true, app will terminate when suspended, for example when home button is pressed -->
    <preference name="webviewbounce" value="false" />               <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="stay-in-webview" value="false" />             <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle" value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="show-splash-screen-spinner" value="true" />   <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen" value="true" />      <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="DisallowOverscroll" value="true" />
    <!-- ios: status bar -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="default" />

    <icon src="res/icon/icon.png" />
    <platform name="android">
        <icon src="res/icon/android/icon-36-ldpi.png"  density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png"  density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png"  density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
        <icon src="res/icon/android/icon-72x2-hdpi.png" density="xxhdpi" />
    </platform>
    <platform name="ios">
        <icon width="57"  height="57"  src="res/icon/ios/icon-57.png" />
        <icon width="72"  height="72"  src="res/icon/ios/icon-72.png" />
        <icon width="76"  height="76"  src="res/icon/ios/icon-76.png" />
        <icon width="114" height="114" src="res/icon/ios/icon-57-2x.png" />
        <icon width="144" height="144" src="res/icon/ios/icon-72-2x.png" />
        <icon width="120" height="120" src="res/icon/ios/icon-120.png" />
        <icon width="152" height="152" src="res/icon/ios/icon-152.png" />
    </platform>

    <!--
    <splash platform="android" qualifier="port-ldpi"  src="res/screen/android/screen-ldpi-portrait.png" />
    <splash platform="android" qualifier="port-mdpi"  src="res/screen/android/screen-mdpi-portrait.png" />
    <splash platform="android" qualifier="port-hdpi"  src="res/screen/android/screen-hdpi-portrait.png" />
    <splash platform="android" qualifier="port-xhdpi" src="res/screen/android/screen-xhdpi-portrait.png" />
    -->
    <splash platform="ios" width="320"  height="480"  src="res/screen/ios/screen-iphone-portrait.png" />
    <splash platform="ios" width="640"  height="960"  src="res/screen/ios/screen-iphone-portrait-2x.png" />
    <splash platform="ios" width="640"  height="1136" src="res/screen/ios/screen-iphone-portrait-568h-2x.png" />
    <splash platform="ios" width="768"  height="1024" src="res/screen/ios/screen-ipad-portrait.png" />
    <splash platform="ios" width="1024" height="768"  src="res/screen/ios/screen-ipad-landscape.png" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
