<div class="navbar">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon"><use xlink:href="#icon_back-arrow"></use></svg>
    </div>
    <h1 class="header__h">Проверка полиса</h1>
</div>
<div class="content">
    <div class="page-content flex-center">
        <div class="check-message" style="display: none;">
            <div class="check-message__text"></div>
            <a href="javascript:void(0)" class="button button_add">Назад</a>
        </div>
    </div>
</div>
<div class="toolbar"></div>