<div class="navbar header_white">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon"><use xlink:href="#icon_back-arrow"></use></svg>
    </div>
    <h1 class="header__h">Данные о полисе</h1>
</div>
<div class="content page_blue">
    <div class="page-content"></div>
</div>
<div class="toolbar">
    <div class="clearfix">
        <div class="button button_square button_edit">
            <svg class="control-button__icon">
                <use xlink:href="#icon_edit"></use>
            </svg>
        </div>
        <div class="button button_square button_delete">
            <svg class="control-button__icon">
                <use xlink:href="#icon_delete"></use>
            </svg>
        </div>
        <div class="button button_check">Проверить полис</div>
    </div>
    <!--<a href="javascript:void(0)" class="button">Проверить действительность</a>-->
</div>