<div class="card card_enp">
    <img src="./img/police-bg.png" class="card__image">
    <div class="card__number"><%- enp %></div>
</div>

<div class="card">
    <div class="clearfix">
        <div class="card__left">
            <div class="card__line">
                <div class="card__label">ФИО</div>
                <% var f = fio.trim().split(' ').join('<br>'); %>
                <div class="card__value"><%= f %></div>
            </div>
        </div>
        <div class="card__right">
            <% if (obj.date) { %>
            <div class="card__line">
                <div class="card__label">СРОК ДЕЙСТВИЯ</div>
                <div class="card__value"><%- _.template.formatDate(date, 'mm/yyyy') %></div>
            </div>
            <% } %>

            <% if (obj.sex) { %>
            <div class="card__line">
                <div class="card__label">ПОЛ</div>
                <div class="card__value"><%
                    switch (sex) {
                        case 'M': %>М<% break;
                        case 'F': %>Ж<% break;
                    }
                %></div>
            </div>
            <% } %>

            <% if (obj.birthday) { %>
            <div class="card__line">
                <div class="card__label">ДАТА РОЖДЕНИЯ</div>
                <div class="card__value"><%- _.template.formatDate(birthday, 'dd.mm.yyyy') %></div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="card__line">
        <div class="card__label">ЕДИНЫЙ НОМЕР ПОЛИСА</div>
        <div class="card__value card__value_enp"><%- enp %></div>
    </div>
</div>