<div class="navbar">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon">
            <use xlink:href="#icon_back-arrow"></use>
        </svg>
    </div>
    <h1 class="header__h">Полисы</h1>
</div>
<div class="content">
    <div class="page-content">
        <div id="emptyPolicy" class="police-empty__txt"><img src="img/doc.svg"> Полисов нет</div>
        <div class="items-list items-list__semibold">
            <ul id="policiesList" class="items-list__lst"></ul>
        </div>
    </div>
</div>
<div class="toolbar">
    <a id="policyAdd" href="javascript:void(0)" class="button">Добавить полис</a>
</div>