<div class="navbar header_white">
    <div class="header__button nav-button">
        <div class="nav-button__body">
            <div class="nav-button__i nav-button__i_top"></div>
            <div class="nav-button__i nav-button__i_middle"></div>
            <div class="nav-button__i nav-button__i_bottom"></div>
        </div>
    </div>
    <h1 class="header__h">Югория-Мед</h1>
</div>
<div class="content">
    <div class="page-content">
        <!-- тут генерируется меню -->
        <nav class="main-nav" id="nav"></nav>
        <!-- статичная часть страницы -->
        <div class="links">
            <div class="links__h sm-h">Перейти на сайт компании</div>
            <a href="http://www.u-med.ru">www.u-med.ru</a>
        </div>
        <div class="socials">
            <ul class="socials__lst">
                <li class="socials__i">
                    <a href="https://vk.com/yugoriamed" class="socials__a">
                        <svg class="socials__icon socials__icon_vk">
                            <use xlink:href="#icon_vk"></use>
                        </svg>
                    </a>
                </li>
                <li class="socials__i">
                    <a href="https://www.facebook.com/yugoriamed" class="socials__a">
                        <svg class="socials__icon socials__icon_fb">
                            <use xlink:href="#icon_fb"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <div class="hotline">
            <div class="sm-h">Круглосуточная горячая линия:</div>
            <div class="legend">бесплатно по России</div>
        </div>
    </div>
</div>
<div class="toolbar">
    <a href="tel:88001008606" class="button button_font_big">8 800 100-86-06</a>
</div>