<div class="navbar">
    <div class="header__button back-button back-button_color_light">
        <svg class="back-button__icon"><use xlink:href="#icon_back-arrow"></use></svg>
    </div>
    <h1 class="header__h">Заголовок</h1>
</div>
<div class="content">
    <div class="page-content">
        <div class="more-items region-list" style="display: block;">
            <!--
            <div class="sub-header sub-header_select">
                <div class="sub-header__h">
                    Ханты-Мансийский автономный округ
                    <svg class="sub-header__select-icon">
                        <use xlink:href="#icon_down-arrow"></use>
                    </svg>
                </div>
            </div>
            -->
            <!--
            <ul class="more-items__lst">
                <li class="more-items__i">
                    <a href="#" class="more-items__a">Тюменская область</a>
                </li>
                <li class="more-items__i">
                    <a href="#" class="more-items__a">Республика Башкартостан</a>
                </li>
            </ul>
            -->
        </div>
        <!--
        <div class="items-list">
            <ul class="items-list__lst">
                <li class="items-list__i items-list__i_active">
                    <a href="#" class="items-list__a">
                        Ханты-Мансийск
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
                <li class="items-list__i">
                    <a href="#" class="items-list__a">
                        п. Горноправдинск
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
                <li class="items-list__i">
                    <a href="#" class="items-list__a">
                        Нижневартовск
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
                <li class="items-list__i">
                    <a href="#" class="items-list__a">
                        Лангепас
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
                <li class="items-list__i">
                    <a href="#" class="items-list__a">
                        Мегион
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
                <li class="items-list__i">
                    <a href="#" class="items-list__a">
                        Радужный
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
                <li class="items-list__i">
                    <a href="#" class="items-list__a">
                        Сургут
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
                <li class="items-list__i">
                    <a href="#" class="items-list__a">
                        пгт. Федоровский
                        <svg class="items-list__icon">
                            <use xlink:href="#icon_check"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        -->
    </div>
</div>
<div class="toolbar">
    <div class="fix-footer__i button button_no">Отменить</div>
    <div class="fix-footer__i button">Применить</div>
</div>