html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}
body {
    background: #fff;
    margin: 0;
    color: #363951;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.44;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0 0 12px 0;
    padding: 0;
    font-weight: normal;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
    line-height: 1.2;
    font-size: 1.8rem;
}
a, .u {
    text-decoration: none;
    outline: 0 none;
    color: #1976d2;
    border-color: #92c2f2;
    border-color: rgba(25, 118, 210, 0.3);
    -webkit-transition-property: color, border;
    transition-property: color, border;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
a:hover, .u:hover {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #01ba65;
    border-color: #56feb1;
    border-color: rgba(1, 186, 101, 0.3);
}
#svg-icons {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -100;
}
.header {
    width: 100%;
    height: 44px;
    background: #1976d2;
    text-align: center;
    line-height: 41px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 500;
}
.header__h {
    height: inherit;
    margin: 0;
    color: #fff;
    line-height: inherit;
}
.header_white {
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
.header_white .header__h { color: #363951; }
.header__button {
    width: 44px;
    height: 44px;
    margin-top: -22px;
    position: absolute;
    top: 50%;
    left: 0;
}
.nav-button {
    width: 44px;
    height: 44px;
    cursor: pointer;
}
.nav-button__body {
    width: 18px;
    height: 14px;
    margin-top: -7px;
    margin-left: -9px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.nav-button__i {
    width: 18px;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
}
.header_white .nav-button__i { background: #1976d2; }
.nav-button__i_top { top: 0; }
.nav-button__i_middle { top: 6px; }
.nav-button__i_bottom { bottom: 0; }
.button {
    display: block;
    height: 60px;
    padding: 0 20px;
    background-color: #01ba65;
    border: none;
    outline: none;
    overflow: visible;

    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    line-height: 64px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    white-space: nowrap;
    user-select: none;


    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

    -webkit-transition-property: background-color;
    transition-property: background-color;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.button:hover,
.button:active {
    background: #1976d2;
    color: #fff;
}
.button_font_big { font-size: 2.5rem; }
.footer {
    display: block;
    height: 60px;
    overflow: hidden;

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 500;
}
.main-nav {
    margin-bottom: 25px;
}
.main-nav__lst {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}
.main-nav__i {
    margin: 0;
    padding: 0;
    width: 50%;
    float: left;
}
.main-nav__a {
    position: relative;
    display: block;
    background: #1976d2;
    padding-top: 38px;
    padding-bottom: 22px;
    color: #fff;
    border-color: white;
    border-color: rgba(255, 255, 255, 0.3);
    -moz-transition-property: background, color;
    -o-transition-property: background, color;
    -webkit-transition-property: background, color;
    transition-property: background, color;
    -moz-box-shadow: inset -1px -1px 0px #219cf2, inset -2px -2px 0px #1562b6;
    -webkit-box-shadow: inset -1px -1px 0px #219cf2, inset -2px -2px 0px #1562b6;
    box-shadow: inset -1px -1px 0px #219cf2, inset -2px -2px 0px #1562b6;
}
.main-nav__a:visited {
    color: #fff;
    border-color: white;
    border-color: rgba(255, 255, 255, 0.3);
}
.main-nav__a:hover {
    color: #fff;
    border-color: white;
    border-color: rgba(255, 255, 255, 0.3);
}
.main-nav__a:hover, .main-nav__a:active {
    background: #121a34;
}
.main-nav__a:hover .main-nav__icon, .main-nav__a:active .main-nav__icon {
    color: #fff;
}
.main-nav__icon {
    color: #25B0F9;
    position: relative;
    width: 64px;
    height: 64px;
    left: 50%;
    margin-left: -32px;
    margin-bottom: 12px;
}
.main-nav__label {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
}
.links {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
}
.sm-h {
    font-size: 1.2rem;
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
}
.socials {
    overflow: hidden;
    text-align: center;
    margin-bottom: 10px;
}
.socials__lst {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
    position: relative;
}
.socials__lst:before, .socials__lst:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #ebedef;
}
.socials__lst:before {
    right: 100%;
}
.socials__lst:after {
    left: 100%;
}
.socials__i {
    margin: 0;
    padding: 0 6px;
    display: inline-block;
}
.socials__a {
    display: block;
}
.socials__icon {
    width: 32px;
    height: 32px;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.socials__icon_vk {
    color: #5c82ab;
}
.socials__icon_vk:hover, .socials__icon_vk:active {
    color: #121a34;
}
.socials__icon_fb {
    color: #4862a3;
}
.socials__icon_fb:hover, .socials__icon_fb:active {
    color: #121a34;
}
.hotline {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.legend {
    color: #CACCCE;
    font-size: 0.8rem;
}
/* items-list */
.items-list {
    font-size: 1.6rem;
    background: #fff;
}
.items-list__lst {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.items-list__i {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}
.items-list__semibold .items-list__i {
    font-family: "Open Sans Semibold", "Open Sans", Arial, sans-serif;
}
.items-list__a {
    padding: 12px 44px 12px 20px;
    display: block;
    color: #363951;
    cursor: pointer;
    border-bottom: 1px solid rgba(54, 57, 81, 0.3);
}
.items-list__a:visited {
    color: #363951;
    border-color: #7a7fa6;
    border-color: rgba(54, 57, 81, 0.3);
}
.items-list__a:hover {
    color: #1976d2;
    border-color: #92c2f2;
    border-color: rgba(25, 118, 210, 0.3);
}
.items-list__i_active .items-list__icon {
    display: block;
}
.items-list__icon {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 16px;
    width: 16px;
    height: 12px;
}
/* empty police list */
.police-empty__txt {
    text-align: center;
    margin-top: 75px;
    height: 140px;
    color: #ced4d7;
}

.police-empty__txt img {
    display: block;
    width: 38px;
    margin: 0 auto 10px;
}
/* back-button */
.back-button {
    cursor: pointer;
}
.back-button_color_light .back-button__icon {
    color: #fff;
}
.back-button_color_light .back-button__icon:hover, .back-button_color_light .back-button__icon:active {
    color: #fff;
}
.back-button__icon {
    cursor: pointer;
    color: #1976d2;
    width: 44px;
    height: 44px;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.back-button__icon:hover, .back-button__icon:active, .back-button_color_light .back-button__icon:hover, .back-button_color_light .back-button__icon:active {
    color: #121a34;
}
/* input */
/* --------------------------------------------- */
.input {
    width: 100%;
    background: #fff;
    padding: 0 8px;
    border: none;
    outline: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.4rem;
    -webkit-transition-property: border, box-shadow;
    transition-property: border, box-shadow;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

input.input {
    height: 28px;
    line-height: 28px;
    vertical-align: middle;
}

textarea.input {
    height: 100px;
    padding: 8px;
    vertical-align: top;
}
::-webkit-input-placeholder {
    color: #000;
}

/* input */
/* ---------------------------------------END--- */
/* label */
/* --------------------------------------------- */
.label {
    color: #8A8F96;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: "Open Sans Light", "Open Sans", Arial, sans-serif;
}
.has-error .label {
    color: #f63c3c;
}

/* label */
/* ---------------------------------------END--- */
/* form-line */
/* --------------------------------------------- */
.form-line {
    padding: 11px 70px 11px 20px;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #ebedef;
}
.form-line__controls {
    margin-left: -8px;
}
.form-line__label_yes {
    color: #01ba65;
}
.form-line__clear {
    width: 70px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    color: #e3e5e8;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.form-line__clear:hover, .form-line__clear:active {
    color: #121a34;
}
.form-line__clear-icon {
    position: absolute;
    top: 50%;
    margin-top: -11px;
    left: 50%;
    margin-left: -11px;
    width: 22px;
    height: 22px;
}
.form-line__select {
    margin-left: -4px;
}

/* form-line */
/* ---------------------------------------END--- */
.select {
    height: 28px;
    background: #fff;
    border: 0 none;
    margin-left: 4px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 28px;
}
.select:focus {
    outline: 0 none;
}

/* panel */
/* --------------------------------------------- */
.page-panel {
    background: #eef8fd;
    padding: 26px 12px;
    margin: 20px 20px 0 20px;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
    position: relative;
}
.panel_controls {
    padding-bottom: 60px;
}
.panel__controls {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* panel */
/* ---------------------------------------END--- */

/* data-list */
/* --------------------------------------------- */
.data-list__lst {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.data-list__i {
    margin: 0 0 12px 0;
    padding: 0;
}
.data-list__value {
    background: #fff;
    padding: 8px;
}
.data-list__value_zebra {
    background: linear-gradient(to bottom, #eff1f3 1px, #ffffff 1px);
    background-size: 100% 4px;
}
.data-list__value_important {
    font-family: "Times New Roman", "Open Sans", Arial, sans-serif;
    color: #f63c3c;
    font-weight: bold;
}
.data-list .data-list__label {
    margin-top: 5px;
    font-size: 1rem;
}

/* data-list */
/* ---------------------------------------END--- */

/* controls */
/* --------------------------------------------- */
.controls__i {
    float: left;
}

/* controls */
/* ---------------------------------------END--- */

/* control-button */
/* --------------------------------------------- */
.control-button {
    width: 40px;
    height: 40px;
    background-color: #353e54;
    border: none;
    outline: none;
    overflow: visible;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    cursor: pointer;
    color: #25B0F9;
    position: relative;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.control-button:hover, .control-button:active {
    background: #121a34;
    color: #fff;
}
.control-button_delete {
    background: #f63c3c;
    color: #fff;
}
.control-button_delete:hover, .control-button_delete:active {
    background: #c30909;
}
.control-button__icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
}

/* control-button */
/* ---------------------------------------END--- */